[GLOBAL]
STYLE_NUM=285
[STYLE1]
NM_IMG=en26,1
HL_IMG=en261,1

[STYLE2]
NM_IMG=en26,2
HL_IMG=en261,2

[STYLE3]
NM_IMG=en26,3
HL_IMG=en261,3

[STYLE4]
NM_IMG=en26,4
HL_IMG=en261,4

[STYLE5]
NM_IMG=en26,5
HL_IMG=en261,5

[STYLE6]
NM_IMG=en26,6
HL_IMG=en261,6

[STYLE7]
NM_IMG=en26,7
HL_IMG=en261,7

[STYLE8]
NM_IMG=en26,8
HL_IMG=en261,8

[STYLE9]
NM_IMG=en26,9
HL_IMG=en261,9

[STYLE10]
NM_IMG=en26,10
HL_IMG=en261,10

[STYLE11]
NM_IMG=en26,11
HL_IMG=en261,11

[STYLE12]
NM_IMG=en26,12
HL_IMG=en261,12

[STYLE13]
NM_IMG=en26,13
HL_IMG=en261,13

[STYLE14]
NM_IMG=en26,14
HL_IMG=en261,14

[STYLE15]
NM_IMG=en26,15
HL_IMG=en261,15

[STYLE16]
NM_IMG=en26,16
HL_IMG=en261,16

[STYLE17]
NM_IMG=en26,17
HL_IMG=en261,17

[STYLE18]
NM_IMG=en26,18
HL_IMG=en261,18

[STYLE19]
NM_IMG=en26,19
HL_IMG=en261,19

[STYLE20]
NM_IMG=en26,20
HL_IMG=en261,20

[STYLE21]
NM_IMG=en26,21
HL_IMG=en261,21

[STYLE22]
NM_IMG=en26,22
HL_IMG=en261,22

[STYLE23]
NM_IMG=en26,23
HL_IMG=en261,23

[STYLE24]
NM_IMG=en26,24
HL_IMG=en261,24

[STYLE25]
NM_IMG=en26,25
HL_IMG=en261,25

[STYLE26]
NM_IMG=en26,26
HL_IMG=en261,26

[STYLE27]
NM_IMG=fore4,1
HL_IMG=fore4,1

[STYLE28]
NM_IMG=en26top,1
HL_IMG=en26top,1

[STYLE29]
NM_IMG=en26top,2
HL_IMG=en26top,2

[STYLE30]
NM_IMG=en26top,3
HL_IMG=en26top,3

[STYLE31]
NM_IMG=en26top,4
HL_IMG=en26top,4

[STYLE32]
NM_IMG=en26top,5
HL_IMG=en26top,5

[STYLE33]
NM_IMG=en26top,6
HL_IMG=en26top,6

[STYLE34]
NM_IMG=en26top,7
HL_IMG=en26top,7

[STYLE35]
NM_IMG=en26top,8
HL_IMG=en26top,8

[STYLE36]
NM_IMG=en26top,9
HL_IMG=en26top,9

[STYLE37]
NM_IMG=en26top,10
HL_IMG=en26top,10

[STYLE38]
NM_IMG=en26top,11
HL_IMG=en26top,11

[STYLE39]
NM_IMG=en26top,12
HL_IMG=en26top,12

[STYLE40]
NM_IMG=en26top,13
HL_IMG=en26top,13

[STYLE41]
NM_IMG=en26top,14
HL_IMG=en26top,14

[STYLE42]
NM_IMG=fore4,2
HL_IMG=fore4,2

[STYLE43]
NM_IMG=en26s,1
HL_IMG=en26s1,1

[STYLE44]
NM_IMG=en26s,2
HL_IMG=en26s1,2

[STYLE45]
NM_IMG=en26s,3
HL_IMG=en26s1,3

[STYLE46]
NM_IMG=en26s,4
HL_IMG=en26s1,4

[STYLE47]
NM_IMG=en26s,5
HL_IMG=en26s1,5

[STYLE48]
NM_IMG=en26s,6
HL_IMG=en26s1,6

[STYLE49]
NM_IMG=en26s,7
HL_IMG=en26s1,7

[STYLE50]
NM_IMG=en26s,8
HL_IMG=en26s1,8

[STYLE51]
NM_IMG=en26s,9
HL_IMG=en26s1,9

[STYLE52]
NM_IMG=en26s,10
HL_IMG=en26s1,10

[STYLE53]
NM_IMG=en26s,11
HL_IMG=en26s1,11

[STYLE54]
NM_IMG=en26s,12
HL_IMG=en26s1,12

[STYLE55]
NM_IMG=en26s,13
HL_IMG=en26s1,13

[STYLE56]
NM_IMG=en26s,14
HL_IMG=en26s1,14

[STYLE57]
NM_IMG=en26s,15
HL_IMG=en26s1,15

[STYLE58]
NM_IMG=en26s,16
HL_IMG=en26s1,16

[STYLE59]
NM_IMG=en26s,17
HL_IMG=en26s1,17

[STYLE60]
NM_IMG=en26s,18
HL_IMG=en26s1,18

[STYLE61]
NM_IMG=en26s,19
HL_IMG=en26s1,19

[STYLE62]
NM_IMG=en26s,20
HL_IMG=en26s1,20

[STYLE63]
NM_IMG=en26s,21
HL_IMG=en26s1,21

[STYLE64]
NM_IMG=en26s,22
HL_IMG=en26s1,22

[STYLE65]
NM_IMG=en26s,23
HL_IMG=en26s1,23

[STYLE66]
NM_IMG=en26s,24
HL_IMG=en26s1,24

[STYLE67]
NM_IMG=en26s,25
HL_IMG=en26s1,25

[STYLE68]
NM_IMG=en26s,26
HL_IMG=en26s1,26

[STYLE69]
NM_IMG=en9,1
HL_IMG=en91,1

[STYLE70]
NM_IMG=en9,2
HL_IMG=en91,2

[STYLE71]
NM_IMG=en9,3
HL_IMG=en91,3

[STYLE80]
NM_IMG=bh,1
HL_IMG=bh1,1

[STYLE81]
NM_IMG=bh,2
HL_IMG=bh1,2

[STYLE82]
NM_IMG=bh,3
HL_IMG=bh1,3

[STYLE83]
NM_IMG=bh,4
HL_IMG=bh1,4

[STYLE84]
NM_IMG=bh,5
HL_IMG=bh1,5

[STYLE85]

[STYLE86]
NM_IMG=bh,6
HL_IMG=bh1,6

[STYLE87]
NM_IMG=bh,7
HL_IMG=bh1,7

[STYLE88]
NM_IMG=fore4,3
HL_IMG=fore4,3

[STYLE89]
NM_IMG=fore4,4
HL_IMG=fore4,4

[STYLE90]
NM_IMG=fore4,5
HL_IMG=fore4,5

[STYLE91]
NM_IMG=fore4,4
HL_IMG=fore4,4

[STYLE92]
NM_IMG=fore4,4
HL_IMG=fore4,4

[STYLE93]
NM_IMG=sym_num,1
HL_IMG=sym_num,2

[STYLE96]
NM_IMG=fore2,1
HL_IMG=fore2,1

[STYLE97]
NM_IMG=fore2,2
HL_IMG=fore2,3

[STYLE98]
NM_IMG=fore2,4
HL_IMG=fore2,4

[STYLE99]
NM_IMG=fore2,2
HL_IMG=fore2,3

[STYLE100]
NM_IMG=fore2,5
HL_IMG=fore2,6

[STYLE101]
NM_IMG=fore2,7
HL_IMG=fore2,7

[STYLE104]
NM_IMG=fore2,8
HL_IMG=fore2,8

[STYLE105]
NM_IMG=fore2,9
HL_IMG=fore2,9

[STYLE106]
NM_IMG=fore2,10
HL_IMG=fore2,10

[STYLE107]
NM_IMG=fore2,11
HL_IMG=fore3,1

[STYLE108]
NM_IMG=fore2,12
HL_IMG=fore2,12

[STYLE109]
NM_IMG=fore2,13
HL_IMG=fore2,13

[STYLE110]
NM_IMG=fore2,14
HL_IMG=fore2,14

[STYLE111]
NM_IMG=hw,1
HL_IMG=hw,1

[STYLE114]
NM_IMG=fore3,2
HL_IMG=fore3,2

[STYLE116]
NM_IMG=back1,1

[STYLE117]
HL_IMG=cand1,1

[STYLE118]
NM_IMG=key26-bt,1
HL_IMG=key26-bt,2

[STYLE119]
NM_IMG=fore7,1
HL_IMG=fore7,2

[STYLE120]
HL_COLOR=ff3685fb

[STYLE122]
HL_COLOR=33332c28

[STYLE123]
NM_COLOR=ff555555
HL_COLOR=ff478cff
FONT_CLEARTYPE=1
FONT_SIZE=56
FONT_WEIGHT=550

[STYLE126]
NM_COLOR=cc555555
BORDER_SIZE=4

[STYLE127]
NM_COLOR=b3e1e1e1
HL_COLOR=cc88bbdd

[STYLE128]
NM_COLOR=ff555555
HL_COLOR=ffcccccc
FONT_CLEARTYPE=1
FONT_SIZE=60

[STYLE129]
NM_COLOR=ff555555
HL_COLOR=ffffffff
FONT_CLEARTYPE=1
FONT_SIZE=60
FONT_WEIGHT=500

[STYLE130]
NM_COLOR=ff555555
HL_COLOR=ffffffff
FONT_CLEARTYPE=1
FONT_SIZE=44
FONT_WEIGHT=450

[STYLE131]
NM_IMG=fore3,3
HL_IMG=fore3,3

[STYLE132]
HL_COLOR=ff3685fb

[STYLE133]
NM_IMG=fore2,4
HL_IMG=fore2,4

[STYLE134]
NM_IMG=fore5,1
HL_IMG=fore5,2

[STYLE135]
HL_COLOR=ff3685fb

[STYLE136]
NM_IMG=fore2,15
HL_IMG=fore2,15

[STYLE137]
NM_IMG=fore2,16
HL_IMG=fore2,16

[STYLE140]
NM_IMG=sym_num,3
HL_IMG=sym_num,3

[STYLE141]
NM_IMG=hint,1
HL_IMG=hint,1

[STYLE142]
NM_COLOR=ff555555
HL_COLOR=ff3283fb
FONT_SIZE=100

[STYLE143]
NM_COLOR=ff478cff
HL_COLOR=ff478cff
FONT_CLEARTYPE=1
FONT_SIZE=56
FONT_WEIGHT=550

[STYLE146]
NM_IMG=sym_num,4
HL_IMG=sym_num,4

[STYLE148]
NM_IMG=fore2,17
HL_IMG=fore2,17

[STYLE151]
NM_IMG=sym_num,5
HL_IMG=sym_num,5

[STYLE152]
NM_IMG=fore2,18
HL_IMG=fore2,18

[STYLE153]

[STYLE154]

[STYLE155]
NM_IMG=enter1,1
HL_IMG=enter1,1

[STYLE156]
NM_IMG=enter1,2
HL_IMG=enter1,2

[STYLE157]
NM_IMG=enter1,3
HL_IMG=enter1,3

[STYLE158]
NM_IMG=enter1,4
HL_IMG=enter1,4

[STYLE159]
NM_IMG=enter1,5
HL_IMG=enter1,5

[STYLE160]
NM_COLOR=ff555555
HL_COLOR=ffffffff
FONT_CLEARTYPE=1
FONT_SIZE=60
FONT_WEIGHT=500

[STYLE161]
NM_IMG=num9,1
HL_IMG=num9,1

[STYLE162]
NM_IMG=num9,2
HL_IMG=num9,2

[STYLE163]
NM_IMG=num9,3
HL_IMG=num9,3

[STYLE164]
NM_IMG=num9,4
HL_IMG=num9,4

[STYLE165]
NM_IMG=num9,5
HL_IMG=num9,5

[STYLE166]
NM_IMG=num9,6
HL_IMG=num9,6

[STYLE167]
NM_IMG=num9,7
HL_IMG=num9,7

[STYLE168]
NM_IMG=num9,8
HL_IMG=num9,8

[STYLE169]
NM_IMG=num9,9
HL_IMG=num9,9

[STYLE170]
NM_IMG=num9,10
HL_IMG=num9,10

[STYLE172]
NM_IMG=num26,1
HL_IMG=num26,1

[STYLE173]
NM_IMG=num26,2
HL_IMG=num26,2

[STYLE174]
NM_IMG=num26,3
HL_IMG=num26,3

[STYLE175]
NM_IMG=num26,4
HL_IMG=num26,4

[STYLE176]
NM_IMG=num26,5
HL_IMG=num26,5

[STYLE180]
NM_IMG=num26,6
HL_IMG=num26,6

[STYLE181]
NM_IMG=num26,7
HL_IMG=num26,7

[STYLE182]
NM_IMG=num26,8
HL_IMG=num26,8

[STYLE183]
NM_IMG=num26,9
HL_IMG=num26,9

[STYLE184]
NM_IMG=num26,10
HL_IMG=num26,10

[STYLE185]
NM_IMG=num26,11
HL_IMG=num26,11

[STYLE186]
NM_IMG=num26,12
HL_IMG=num26,12

[STYLE187]
NM_IMG=num26,13
HL_IMG=num26,13

[STYLE190]
NM_IMG=sym_num,6
HL_IMG=sym_num,6

[STYLE191]
NM_IMG=en26top,15
HL_IMG=en26top,15

[STYLE192]
NM_IMG=en26top,16
HL_IMG=en26top,16

[STYLE193]
NM_IMG=en26top,17
HL_IMG=en26top,17

[STYLE194]
NM_IMG=en26top,18
HL_IMG=en26top,18

[STYLE195]
NM_IMG=en26top,19
HL_IMG=en26top,19

[STYLE196]
NM_IMG=en26top,20
HL_IMG=en26top,20

[STYLE197]
NM_IMG=en26top,21
HL_IMG=en26top,21

[STYLE198]
NM_IMG=en26top,22
HL_IMG=en26top,22

[STYLE199]
NM_IMG=en26top,23
HL_IMG=en26top,23

[STYLE200]
NM_IMG=en26top,24
HL_IMG=en26top,24

[STYLE201]
NM_IMG=sym_num,7
HL_IMG=sym_num,7

[STYLE202]
NM_IMG=sym_num,8
HL_IMG=sym_num,8

[STYLE203]
NM_COLOR=ff555555
HL_COLOR=ff555555
FONT_SIZE=100

[STYLE204]
NM_IMG=num26,14
HL_IMG=num26,14

[STYLE205]
NM_IMG=num26,15
HL_IMG=num26,15

[STYLE206]
NM_IMG=num26,16
HL_IMG=num26,16

[STYLE207]
NM_IMG=sym_num,9
HL_IMG=sym_num,10

[STYLE208]
NM_IMG=hint,2
HL_IMG=hint,2

[STYLE209]
NM_IMG=enter1,6
HL_IMG=enter1,6

[STYLE210]
NM_COLOR=ff478cff
HL_COLOR=ffffffff

[STYLE212]
NM_IMG=bt,1
HL_IMG=bt,1

[STYLE213]
NM_IMG=fore5,1
HL_IMG=fore5,2

[STYLE215]
NM_IMG=fore5,1
HL_IMG=fore5,2

[STYLE216]
NM_IMG=fore2,19
HL_IMG=fore2,19

[STYLE219]
NM_IMG=fore2,20
HL_IMG=fore2,20

[STYLE220]
NM_IMG=hw,2
HL_IMG=hw,2

[STYLE221]
NM_IMG=fore2,26
HL_IMG=fore2,26

[STYLE222]
NM_IMG=fore2,27
HL_IMG=fore2,27

[STYLE223]
NM_IMG=fore2,21
HL_IMG=fore2,21

[STYLE224]
NM_IMG=fore2,22
HL_IMG=fore2,22

[STYLE228]
NM_IMG=en9,4
HL_IMG=en91,4

[STYLE229]
NM_IMG=en9,5
HL_IMG=en91,5

[STYLE230]
NM_IMG=en9,6
HL_IMG=en91,6

[STYLE231]
NM_IMG=en9,7
HL_IMG=en91,7

[STYLE232]
NM_IMG=en9,8
HL_IMG=en91,8

[STYLE233]
NM_IMG=en9,9
HL_IMG=en91,9

[STYLE234]
NM_IMG=en9,10
HL_IMG=en91,10

[STYLE235]
NM_IMG=en9,11
HL_IMG=en91,11

[STYLE238]
NM_IMG=en26top,25
HL_IMG=en26top,25

[STYLE239]
NM_IMG=en26top,26
HL_IMG=en26top,26

[STYLE241]
NM_IMG=hw,3
HL_IMG=hw,3

[STYLE242]
NM_IMG=hw,4
HL_IMG=hw,4

[STYLE247]
HL_COLOR=ff3685fb

[STYLE248]
NM_IMG=sym_num,11
HL_IMG=sym_num,2

[STYLE249]
NM_IMG=fore6,1
HL_IMG=fore6,2

[STYLE250]
NM_IMG=en26top,24
HL_IMG=en26top,24

[STYLE255]
NM_IMG=num9,11
HL_IMG=num9,11

[STYLE259]
NM_IMG=fore2,23
HL_IMG=fore2,23

[STYLE260]
NM_IMG=fore2,2
HL_IMG=fore2,3

[STYLE261]
NM_IMG=num9,12
HL_IMG=num9,12

[STYLE262]
NM_IMG=fore2,24
HL_IMG=fore2,25

[STYLE264]
NM_COLOR=ff555555
HL_COLOR=ff555555
FONT_SIZE=17

[STYLE268]
NM_IMG=fore7,3
HL_IMG=fore7,3

[STYLE270]
NM_IMG=voice_fore,1
HL_IMG=voice_fore,1

[STYLE273]
NM_IMG=voice_fore,2
HL_IMG=voice_fore,2

[STYLE274]
NM_IMG=voice_fore,3
HL_IMG=voice_fore,3

[STYLE275]
NM_IMG=voice_fore,4
HL_IMG=voice_fore,4

[STYLE276]
NM_IMG=fore2,2
HL_IMG=fore2,3

[STYLE277]
NM_IMG=fore2,5
HL_IMG=fore2,6

[STYLE280]
NM_IMG=back1,1

[STYLE285]
NM_IMG=fore5,3
HL_IMG=fore5,3

[STYLE291]
NM_IMG=sym_num,1
HL_IMG=sym_num,2

[STYLE292]
NM_IMG=fore5,4
HL_IMG=fore5,5

[STYLE295]
NM_IMG=sym_num,1
HL_IMG=sym_num,2

[STYLE307]
NM_IMG=num26,17
HL_IMG=num26,17

[STYLE308]
NM_IMG=num26,18
HL_IMG=num26,18

[STYLE309]
NM_IMG=num26,19
HL_IMG=num26,19

[STYLE310]
NM_IMG=num26,20
HL_IMG=num26,20

[STYLE311]
NM_IMG=num26,21
HL_IMG=num26,21

[STYLE312]
NM_IMG=num26,22
HL_IMG=num26,22

[STYLE313]
NM_IMG=num26,23
HL_IMG=num26,23

[STYLE314]
NM_IMG=num26,24
HL_IMG=num26,24

[STYLE315]
NM_IMG=num26,25
HL_IMG=num26,25

[STYLE316]
NM_IMG=num26,26
HL_IMG=num26,26

[STYLE317]
NM_IMG=hint,3
HL_IMG=hint,3

[STYLE318]
NM_COLOR=ff555555
HL_COLOR=ffffffff
FONT_CLEARTYPE=1
FONT_SIZE=44
FONT_WEIGHT=450

[STYLE319]
NM_IMG=list2,1
HL_IMG=list2,1

[STYLE320]
NM_IMG=fore7,4
HL_IMG=fore7,5

[STYLE321]
NM_IMG=fore5,1
HL_IMG=fore5,2

[STYLE322]
NM_IMG=fore5,6
HL_IMG=fore5,7

[STYLE323]
NM_IMG=fore7,1
HL_IMG=fore7,2

[STYLE326]
NM_IMG=fore2,12
HL_IMG=fore2,12

[STYLE328]
NM_IMG=fore2,18
HL_IMG=fore2,18

[STYLE329]
NM_IMG=hw,2
HL_IMG=hw,2

[STYLE330]
NM_IMG=hw,1
HL_IMG=hw,1

[STYLE331]
NM_IMG=hw,3
HL_IMG=hw,3

[STYLE332]
NM_IMG=hw,4
HL_IMG=hw,4

[STYLE333]
NM_IMG=hw,5
HL_IMG=hw,5

[STYLE340]
NM_IMG=fore5,4
HL_IMG=fore5,5

[STYLE341]
NM_IMG=back1,1

[STYLE342]
NM_IMG=en26top,27
HL_IMG=en26top,27

[STYLE343]
NM_IMG=en26top,28
HL_IMG=en26top,28

[STYLE345]
NM_IMG=fore2,2
HL_IMG=fore2,3

[STYLE346]
NM_IMG=back1,1

[STYLE347]
NM_IMG=back1,1

[STYLE348]
NM_IMG=back1,1

[STYLE349]
NM_IMG=list,1
HL_IMG=list,1

[STYLE350]
NM_IMG=fore5,8
HL_IMG=fore5,9

[STYLE351]
NM_IMG=fore5,8
HL_IMG=fore5,9

[STYLE353]
NM_IMG=fore5,8
HL_IMG=fore5,9

[STYLE354]
NM_IMG=fore5,8
HL_IMG=fore5,9

[STYLE355]

[STYLE364]
NM_IMG=fore5,10
HL_IMG=fore5,11

[STYLE367]
NM_IMG=fore7,6
HL_IMG=fore7,7

[STYLE368]
NM_IMG=fore7,8
HL_IMG=fore7,8

[STYLE369]
NM_IMG=fore7,9
HL_IMG=fore7,10

[STYLE370]
NM_IMG=land_cand_icon,1
HL_IMG=land_cand_icon,2

[STYLE371]
NM_IMG=land_cand_icon,3
HL_IMG=land_cand_icon,4

[STYLE372]
NM_IMG=fore5,12
HL_IMG=fore5,13

[STYLE373]
NM_IMG=fore5,14
HL_IMG=fore5,14

[STYLE374]
NM_IMG=fore5,15
HL_IMG=fore5,16

[STYLE375]
NM_IMG=fore5,17
HL_IMG=fore5,17

[STYLE376]
NM_IMG=fore7,11
HL_IMG=fore7,12

[STYLE377]
NM_IMG=fore7,13
HL_IMG=fore7,14

[STYLE381]
NM_COLOR=ffffffff
HL_COLOR=ffffffff

[STYLE378]
NM_IMG=voice_btn,1
HL_IMG=voice_btn,1

[STYLE382]
NM_IMG=fore61,1
HL_IMG=fore61,2

[STYLE383]
NM_IMG=fore62,1
HL_IMG=fore62,2

[STYLE384]
NM_IMG=fore63,1
HL_IMG=fore63,2

[STYLE385]
NM_IMG=fore64,1
HL_IMG=fore64,2

[STYLE386]
NM_IMG=fore65,1
HL_IMG=fore65,2

[STYLE387]
NM_IMG=fore66,1
HL_IMG=fore66,2

[STYLE388]
NM_IMG=fore67,1
HL_IMG=fore67,2

[STYLE389]
NM_IMG=fore68,1
HL_IMG=fore68,2

[STYLE390]
NM_IMG=fore69,1
HL_IMG=fore69,2

[STYLE391]
NM_IMG=fore51,1
HL_IMG=fore51,2

